/* style for people.js */
.header{
    color: green;
    font-size: 30px;
}
.personInfo{
    color: green;
}
.pad{
    padding: 10px 20px;
}
/* style for home.js */
.theme{
    background-color: rgb(15, 15, 129);
    color: white;
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.float{
    text-decoration: none;
    color: rgb(141, 56, 252);
}
.link{
    font-size: 20px;
    text-decoration: underline;
    color: rgb(15, 15, 129);
}